/*CSS for all the elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Header */
header{
    background-color: #2d4059;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
#title, #subtitle{
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    background:#7bcecc;
    text-align: center;
    color: #2d4059;
    padding-left: 50px;
}

.main-menu{
 display: flex;
 text-align: center;
 justify-content:right;
}

.main-menu > li {
   font-size: 20px;   
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    color: #7bcecc;
}
/*Adding pseudo class to avoid the blue/purple color on the visited links*/
a:visited { 
    text-decoration: none; 
    color: #7bcecc;
}
.hero-banner{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image:url("../images/Hero-banner.jpg");
    background-size: cover;
    background-position: center;
}
#subtitle{
    display: flex;
    margin-right: 0;
    padding: 10px;
    justify-content: right;
    float: right;
    position: absolute;
    top: 180px;
    right: 16px;
}

.page-section{
    color:#2d4059;
    
}
main{
    background-color: #fbfbfb;
}
.page-headings{
    display: flex;
    float: left;
    margin-left: 50px;
    flex-wrap: wrap;
    font-size: 60px;
   text-align: right;
   color:#2d4059;
}
.container{
    margin-left: 300px;
    padding: 40px;
    margin-bottom: 80px;
     font-family: Helvetica, sans-serif;
     color:#2d4059;
     font-size: 1.5em;
     border: 1px solid #fbfbfb;;
     border-left: #2d4059 solid 5px;
     background-color: #fbfbfb;
}
  

.projects{
   
    height: 150px;
    width: 50%; 
    border: 8px solid #7bcecc;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Proj1.jpg);

}
/*
.project2{
    background-image: url(../images/Proj2.jpg);
    height: 150px;
    width: 50%;
   
    border: 8px solid #7bcecc;

}*/

h3{
    display: flex;
    margin-right: 0;
    padding: 10px;
    justify-content: left;
    position: relative;
    border: 8px solid #7bcecc;
    background: #7bcecc;
    padding: 10px;
    float: left;
    margin-top: 45px;
    margin-bottom: 20px;
    color: #2d4059;
    
}

.contact > ul
{
    text-align: left;
    display: flex;
    float: inline-start;
    justify-content: space-evenly;
}
.contact-details > li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
    color: #2d4059 ;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


   
  
   
